@font-face {
    font-family: 'Lato-Regular';
    src: url('assets/Lato-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro-Regular';
    src: url('assets/MavenPro-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('assets/Lato-Bold.ttf');
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Lato-Regular';
    width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 0 auto;
    background-color: #323232;
    height: 63px;
}

a {
    text-decoration: none;
}

main {
    flex: 1 0 auto;
    background-color: #ffffff;
}

footer {
    flex: 0 0 auto;
    background-color: #222222;
    height: 43px;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 7.21379pt;
}

nav > div:nth-child(odd) {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0px;
}

nav > div:nth-child(1) {
    margin: 31px 70px 0 0;
    padding-left: 6px;
}

nav > div:nth-child(3) {
    margin: 31px 0 0 70px;
}

.point {
    height: 2px;
    width: 2px;
    margin: auto 12px;
    background-color: rgb(72, 76, 95);
}

nav > div > a {
    color: rgba(255, 255, 255, 255);
}

nav > div > a:hover {
    color: rgba(46, 179, 152, 255);
}

.hexagon_0 {
    position: absolute;
    z-index: 0;
    top: -117px;
    height: 206px;
    width: 180px;
    display: flex;
    background-color: #323232;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.logo {
    margin: 127px auto 24px auto;
}

.first {
    height: auto;
}

.second {
    height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #2eb398;
    color: #d7fcf5;
}

.third {
    height: 564px;
    background-color: #323232;
}

.line-horizont {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

hr {
    height: 1px;
    border: none;
}

.two-lines {
    width: 410px;
    margin: 11px 70px 0 0;
    background-color: #e4e9eb;
}

.two-lines:nth-child(2) {
    margin: 11px 0 0 70px;
}

.hexagon_1 {
    height: 206px;
    width: 180px;
    margin: 10px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.slide-hex {
    max-width: 822px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.slide-hex:first-child {
    margin-top: 68px;
}

.slide-hex:not(:first-child) {
    margin: -116px auto 0 auto;
}

.normal-hex {
    max-width: 1000px;
    display: flex;
    position: relative;
    margin: 0 auto;
    top: -58px;
}

.one-line {
    width: 960px;
    margin: 0 0 11px 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.left {
    background-color: #e4e9eb;
    height: 104px;
    width: 1px;
    margin-right: 10px;
}

.right {
    background-color: #e4e9eb;
    height: 104px;
    width: 1px;
    margin-left: 10px;
}

.slide-bar {
    display: flex;
    width: 960px;
    margin: 50px auto 11px auto;
}

.slide-bar > div {
    height: 6px;
    width: 6px;
    margin: 0 3px 0 0;
    background-color: #ddd2c5;
}

.slide-bar > div:hover {
    background-color: #8b8784;
}

.information {
    height: 316px;
    width: 820px;
    margin: 0 auto 11px auto;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.information .hexagon_1 {
    background-image: url('Images/Image@1X.png');
    background-position: 50%;
    margin: 0;
}

.information > div {
    display: flex;
    width: 780px;
    height: 206px;
    margin: 54px 19px 55px 21px;
}

article {
    height: 206px;
    width: 582px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 18px;
}

h1, h2, p {
    margin: 0;
    text-align: justify;
    font-weight: normal;
}

h1 {
    font-size: 22.4pt;
    font-family: 'MavenPro-Regular';
    margin: -6px 0 -2px 0;
}

h2 {
    font-size: 13.5pt;
    font-family: 'MavenPro-Regular';
}

p {
    font-size: 9pt;
    font-family: 'Lato-Regular'; 
    line-height: 1.9;
}

article > h2 {
    color: #20816d;
}

article > p {
    margin-top: 12px;
    flex: 1 0 auto;
}

.social {
    margin: 0 0 0 auto;
    flex: 0 0 auto;
    display: flex;
}

.social > div > a {
    color: #04ac95;
}

.social > div:hover > a {
    color: rgba(255, 255, 255, 1);
}

.social > div {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social > div:nth-child(3n+1) {
    background-color: rgba(255, 255, 255, 0.6);
}

.social > div:nth-child(3n+2) {
    background-color: rgba(255, 255, 255, 0.4);
}

.social > div:nth-child(3n+3) {
    background-color: rgba(255, 255, 255, 0.2);
}

.social > div:hover {
    background-color: rgba(255, 255, 255, 0.0);
}

.third {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #bebebe;
}

.third > div:first-child {
    display: flex;
    height: 538px;
    width: 960px;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    margin-bottom: 11px;
}

.get-in-touch {
    margin-left: 90px;
    margin-top: 52px;
    width: 580px;
}

.get-in-touch > h1 {
    color: #e0e0e0;
}

.contacts {
    margin-left: 20px;
    margin-top: 114px;
    width: 180px;
    font-size: 10pt;
}

.contacts > div {
    margin-top: 30px;
    display: flex;
}

.images > div {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.images > div > a {
    color: #2eb398;
}

.data > p {
    font-weight: bold;
}

form {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
}

form > input, textarea {
    height: 36px;
    margin: 0 0 16px 0;
    border: none;
    padding-left: 14px;
    background-color: #454545;
    font-family: 'Lato-Regular';
    font-size: 9.3pt;
    color: inherit;
}

input::placeholder {
    color: #b6b6b6;
}

textarea::placeholder {
    color: #b6b6b6;
}

textarea {
    padding: 13px 14px 14px 14px;
    height: 123px;
    resize: none;
}

form > button {
    height: 37px;
    width: 90px;
    font-size: 9pt;
    font-family: 'Lato-Bold';
    color: white;
    border: none;
    background-color: #2eb398;
    align-self: flex-end;
}

strong {
    color: #e0e0e0;
}

footer {
    padding: 0 39px 0 39px;
    display: flex;
    align-items: center;
}

span {
    font-size: 8.65655pt;
    color: #3b3b3b;
}

